# ansible.cfg
[defaults]
inventory = ./inventories/hosts.yml
vault_password_file = ~/.vault_pass.txt
interpreter_python = auto_silent
callbacks_enabled = timer, profile_tasks
host_key_checking = False