************************************************************
Welcome to Server: {{ ansible_hostname }}
************************************************************

LEGAL DISCLAIMER:
This system is for authorized users only. All activities 
are monitored and logged. Unauthorized access is 
strictly prohibited and may be subject to legal action.

************************************************************
